[metadata]
name = Model_Selection
version = 0.0.1
author = Dubem
author_email = michaeligbomezie@gmail.com
description = For selecting the optimal features using the stepwise algorithm
long_description = file: README.md
long_description_content_type = text/markdown
url = https://github.com/dub-em/Selection-Methods-PythonTPL
classifiers = 
    Programming Language :: Python :: 3
    License :: OSI Approved :: MIT License
    Operating System :: OS Independent

[options]
packages = find:
python_reguires = >=3.7
include_package_data = False